/* 21861104 이혜원 */

aside #sub_menu{
  width: 186px;
  height: 320px;
  margin-top: 15px;
  background-image: url("../img03/sub_menu_bg.png");
  background-repeat: no-repeat;}

aside #sub_menu ul{
  padding: 80px 0 0 30px;}

aside #sub_menu li{
  margin: 10px 0 0 0;}

aside #sub_menu a:link{
  text-decoration: none;
  font-size: 14px;
  color:#3a3a3a;}

aside #sub_menu a:hover{
  text-decoration: none;
  font-size: 14px;
  color:#3a3a3a;
  font-weight: bold;}

aside #sub_menu a:visited{
  text-decoration: none;
  font-size: 14px;
  color:#3a3a3a;}

aside #sub_menu a:active{
  text-decoration: none;
  font-size: 14px;
  color:#3a3a3a;}




aside #sub_banner{
  width: 186px;
  height: 156px;
  margin: 15px 0 0 0;
  border:solid 1px #a7a7a7;
  border-radius: 5px;}

aside #sub_banner ul{
  padding: 6px 0 0 4px;}

  aside #sub_banner img{
  display: block;}
