/* contact css */
/* 전체 내용 */
        #wrapper {

            padding: 30px;
            table-layout: auto;
    }

    /* 폼 css */
        #form {
            margin-bottom: 120px;
            margin-top: 50px;
        }
        tr, th {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
        }
        table {
            text-align: left;
            margin: auto;
        }
        p {
           font-family: 'Noto Sans KR', sans-serif;
           font-size: 10px;
        }
        .button {
            border-style: none;
            padding: 8px;
            color: black;
            transition: all 0.3s;
        }
        .button:hover {
            background-color: darkgrey;
            color: white;
        }

        #contact h2 {
            text-align: center;
            padding-bottom: 20px;
            color: purple;
            padding-top: 60px;
        }
        #contact-form {
           width: 500px;
           margin: 10px auto 60px auto;
           border: 1px solid #dddddd;
           padding: 15px;
        }
        #contact-form table {
/*            border: 3px solid green;*/
        }
        /*      폼 태그 끝 */
        /* 저작권 */
                #footer {
                    border-top: 1px solid #dddddd;
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                #footer p {
                    font-size: 14px;
                    color: #666666;
                    margin-left: 15px;
                    margin-top: 5px;
                }
                #footer span {
                    font-size: 12px;
                    font-weight: normal;
                    margin-left: 14px;
                }
